h1 {
    text-align: center;
    color: white;
}

.main-header {
    background-color: rgb(54, 53, 53);

}

.master-container {
    display: grid;
    grid-template-columns: 25% 37.5% 37.5%;
  grid-template-rows: 15% 50% 35%;
  grid-template-areas: 
  "search map map"
  "side map map"
  "side weather weather";      
}

.container-sm1 {
    grid-area: search;
    display: inline-flex;
    flex-wrap: wrap;
    border: solid black;
}


.container-sm2 {
    grid-area: side;
    border: solid black;
    height: 70vh;
    text-align: center;
    }
    
.container-lg {
    grid-area: map;
    position: relative;
    display: inline-flex;
    border: solid black;
    }
.container-md {
    grid-area: weather;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    width: 90%;
}

.box1 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    background-color: lightskyblue;
}

.box2 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
}

.box3 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
}

.box4 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
}