h1 {
    text-align: center;
    color: white;
}

#searchForm {
    align-self: center;
    text-align: center;
}

.submit {
    border: none;
}

.main-header {
    background-color: rgb(54, 53, 53);

}

.master-container {
    display: grid;
    grid-template-columns: 25% 37.5% 37.5%;
  grid-template-rows: 15% 35% 55%;
  grid-template-areas: 
  "search map map"
  "side map map"
  "side weather weather";      
}

.container-sm1 {
    grid-area: search;
    display: inline-flex;
    flex-wrap: wrap;
    
}


.container-sm2 {
    grid-area: side;
    
    height: 70vh;
    text-align: center;
    }
    
.container-lg {
    margin: 2%;
    grid-area: map;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 25px;
    padding-bottom: 10%;
    text-align: center;
    }

.container-md {
    grid-area: weather;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    width: 90%;
}


.box1, .box2, .box3, .box4 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    background-color: lightskyblue;
    border-radius: 25px;
    color: white;
    font-family: cursive;
}